.pie{
    font-size: map-get($tamFuentes, tamLetra );
    font-family: $tipografia;
    bottom: 0;
    position: $positionSticky;
    display: $displayFlex;
    .cambio{
	    text-decoration: $sinDecoracion;
        color: $colorTexto;
        font-weight: bold;
		    &:hover{
			    color: $colorHover;
            }
    }
}


.container-footer{
    width: 100%;  
    background: $colorFondoPie;
    .footer{
        margin:auto;
        display: $displayFlex;
        justify-content: space-between;  
        padding: 1%;
    }
}



