.pie{
    font-size: map-get($tamFuentes, tamLetra );
    font-family: $tipografia;
    background-color: $colorFondoPie;
    bottom: 0;
    position: $positionSticky;
    display: $displayFlex;
    align-items: $alingItemCenter;
    .cambio{
        &:hover{
            color: $colorHoverpie;
        }
    }
    .sinDecoracion{
        text-decoration: $sinDecoracion;
    }
}