header{
    .colorNav {
        background-color:$colorFondo;
        .justificarFinal {
            justify-content: $justifarFinal;
            .colornavegacion{
                color: $colorTextoHeader;
                &:hover{
                    color:$colorHover;
                }
            }
          }
      }
}