@mixin cuerpoPrincipal {
    background:$fondoPrincipal;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;  
}

@mixin colorSubtitulos ($color:$colorTexto){
    font-size: map-get($tamFuentes, tamSubtitulo );
    font-family: $tipografia;
    color:$color;
}

@mixin logoWhatsapp ($pos){
    .whatsapp{
        width: $pos;
        position: fixed;
        bottom: 5%;
        right: 0;
    }
}