$colorFondo: #f8f9fa;
$colorTextoHeader: black;
$justifarFinal: flex-end;
$tipografia: 'Lato', 'Martel', 'Rubik', Geneva, Verdana, sans-serif;
$ancho: 100%;
$colorFondoPie: black;
$colorTexto:aliceblue;
$positionSticky: sticky;
$displayFlex: flex;
$alingItemCenter: center;
$whatsapp: 10%;
$colorHover: blue;
$colorTransp:rgba(0, 0, 0, 0.125);
$sinDecoracion: none;
$fondoPrincipal:linear-gradient(to right,rgba(0,0,0,0.125),rgba(0,0,0,0.125)), url(../assets/Images/Fondo.webp);
$sombreado:2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
$margen: 3%;

$tamFuentes:(
    tamLetra: 1rem,
    tamTitulo: 4rem,
    tamSubtitulo: 2rem
)